label.with-plus-btn {
    width: calc(100% - 40px);
    top: -15px;
    position: relative;
}

.siderow label.with-plus-btn, label.with-plus-btn.title {
    top: 0;
    position: static;
}

.btn-append {
    float: right;
    margin: 0 5px 0 2px;
}

.popover {
    padding: 5px;
    min-width: 200px
}

h3 + .input-group, h3 + .form-control, h3 + .dropzone, h3 + .btn-append {
    margin-top: -18px;
}

.siderow h3 + .btn-append {
    margin-top: 0;
}

#customer_search_wrapper .dt-toolbar {
    display: none;
}

.fc-day-grid-container.fc-scroller {
    min-height: 600px;
}

.smart-timeline-list li {
    cursor:pointer;
}

@media (min-width:992px) {
    .address-container
    {
        bottom: 0;
        min-height: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    .address-container textarea
    {
        margin-bottom: 2em;
        min-height: 80%;
        box-sizing: border-box;
    }

}

div[class^=col] {
    margin-top: 3px;
}

select.form-control {
    width: 100%;
}

.select2-container .select2-choice .select2-arrow b::before, .select2-selection__arrow b::before {
    content: '';
}

.address-container > .form-group {
    height: 100%;
    overflow-y: visible;
}

.address-container textarea {
    resize: none;
}

header .logout {
    height: 49px;
    vertical-align: middle;
    line-height: 49px;
    float: right;
}

header .logout a {
    color: #3a3633;
}

.login > #main {
    margin-left: 60px;
}

body.welcome-page, .welcome-page #content {
    height: 100%;
    overflow: hidden;
}

.welcome-page #content {
    display: table;

    width: 100%;

    background-color: rgba(0, 0, 0, .3);
}

.welcome-page #main h1, .welcome-page #main h2, .welcome-page #main h3 {
    text-shadow: 0 1px 10px rgba(0, 0, 0, .7);
    font-weight: 500;
}

.welcome-page #main h1 {
    font-size: 47px;
}

.welcome-page .index-menu {
    display: table-cell;

    width: 100%;

    vertical-align: middle;
    text-align: center;
}

.welcome-page .index-menu a.btn {
    margin-top: 1em;
}

.welcome-page .index-menu a.btn-block {
    display: inline-block;
    max-width: 50%;
}

.welcome-page .index-menu h1 {
    margin-top: -47px;
}

.welcome-page #main {
    height: 100%;
    min-height: 500px;
    background: url(/img/architecture.jpg);
    background-size: cover;
    background-position: center;

    color: #fff;
}

#logo img {
    width: auto;
    height: 32px;
}

@media all and (min-width: 414px) and (max-width: 998px)  {
    .welcome-page #main {
        background: url(/img/architecture998.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media all and (max-width: 414px)  {
    .welcome-page #main {
        background: url(/img/architecture414.jpg);
        background-size: cover;
        background-position: center;
    }
}